body {
  background-color: #fffefa;
}

.word img {
  height: 570px;
  margin-top: -100px;
}
.word h1 {
  font-weight: bolder;
  margin-top: 10px;
  font-family: "Bebas Neue", cursive;
  line-height: 70px;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 54px;
}
.word span {
  color: #ff6e40;
}
.keunggulan i {
  background-color: rgb(255, 187, 0);
  height: 100px;
  border-radius: 50px;
  width: 100px;
  line-height: 100px;
}
.keunggulan p {
  font-size: 20px;
  font-weight: bolder;
}
i {
  font-size: 60px;
}
